* { 
    margin: 0; 
    padding: 0;
}

/* This controls the header and navigation bar */
#headerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3DA36F;
    height: 50px;
    padding: 0px 10px 0px 10px;
    background-image: linear-gradient(to right, #347252, #5FE19F);
}

#navigationBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 8px 6px -6px rgba(68, 68, 68, 0.6);
}
a {
    color: black;
    text-decoration:none;
}

#navigationBar ul a {
    padding: 10px 25px 10px 25px
}

/* This controls the login form */

#LoginContainer {
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#LoginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#LoginContainer form label {
    margin: 25px 0px 25px 0px;
}

#LoginContainer form button {
    margin: 25px 25px 25px 25px;
    padding: 10px 25px 10px 25px;

}

/* This controls the login prompt on the homepage */

#LoginPrompt {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#LoginPrompt a {
    background-color: #3DA36F;
    padding: 25px 25px 25px 25px;
}

/* Code to style the test headers */

#test {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* scroll behaviour */
html {scroll-behavior: smooth;}