* { 
    margin: 0; 
    padding: 0;
}

/* Just a placeholder to style page names for dev */

#test {
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#test form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* This controls the header and navigation bar */

#headerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 10px 0px 10px;
    background: linear-gradient(to left,#5FE19F,#347252);
}

#navigationBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

#navigationBar a {
    text-decoration: none;
    color: black;
}

#navigationBar hamburger {
    display:none;
}

#headerBar a {
    text-decoration: none;
    color: black;
}


#navigationBar ul a {
    padding: 10px 25px 10px 25px
}

#toggle {
    display: flex;
}
#hamburger {
    display: none;
}
/* This controls the login form */

#LoginContainer {
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#LoginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#LoginContainer form label {
    margin: 25px 0px 25px 0px;
}

#LoginContainer form button {
    margin: 25px 25px 25px 25px;
    padding: 10px 25px 10px 25px;

}

/* this controls the image select form */

#PictureSelectContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    background-color: gray;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 25px;
    width:auto;
}
#PictureSelectContainer img {
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    #PictureSelectContainer {
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        background-color: gray;
        border-style: solid;
        border-width: 4px;
        border-color: black;
        border-radius: 25px;
        scale:60%;
    }
    #PictureSelectContainer img {
        border-style: solid;
        border-width: 4px;
        border-color: black;
        border-radius: 25px;
        scale: 70%;
    }
    #toggle {
        display:none;
    }
    #navigationBar ul {
        display: grid;
    }
    #hamburger {
        display: grid;
        text-align: center;
    }


  }

#PictureSelectContainer button {
    padding: 10px;
}
#RadioButtons2x2 {
    display: grid;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    
}
#PictureSelectContainer input {
    color: #3DA36F;
}


/* Temporary styling for tables on transaction page */
.transactionTables {
    width: 80%;
    table {
    padding: 10px;
    width: 100%;
    }

    th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: white;
    }
}

